ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color:pink;
    height: 36px;
    line-height: 36px;
    

}
a{
    
 
    float: left;
}
a{
    display: block;
    padding: 0 28px;
    text-decoration: none;
}
    
    
    
   

    


    
    

