li{
    list-style-type: none;
}

.mail{
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    color:orange;
    background-color: black;
}
.rq{
    font-size: 15px;
    color: navajowhite;
}
input{
    text-align: center;
    border-radius: 5px;
    border: solid blue;    
}


